/exercicios/A02t01/A02t01/nbproject/private/
/exercicios/A02t01/A02t01/build/
/exercicios/A02t01/A02t01/dist/
/exercicios/A02t02/A02t02/nbproject/private/
/exercicios/A02t02/A02t02/build/
/exercicios/A02t02/A02t02/dist/
/exercicios/A02t03/A02t03/nbproject/private/
/exercicios/A02t03/A02t03/build/
/exercicios/A02t03/A02t03/dist/
/exercicios/A03t01/A03t01/nbproject/private/
/exercicios/A03t01/A03t01/build/
